@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root{
    --primaryBlack: #1E293B;
    --secondaryBlack: #64748B;
    --lightBlack: #94A3B8;
    --primaryBlue: #3A3AE7;
    --lightBlue : #F6F6FF;
    --purple: #6363F9;
    --highlightColor : #0F172A;
    --green : #048734;
    --darkGreen : #048734;
    --red : #B91C1C;
    --darkRed : #7f0505;
    --yellow: #F59E0B;
    --darkYellow: #dc8f0b;
    --white: #FFFFFF;
}

@layer base{

    h1{
        @apply
        text-xl
        lg:text-[clamp(2rem,5vw,4rem)]
    }
    h2{
        @apply
        text-[clamp(1.5rem,3vw,2.5rem)]
    }

    a{
        @apply
        cursor-pointer
    }

    p{
        @apply
        text-(--secondaryBlack)
        text-sm
    }
    
}

@layer components{
    .mainDiv{
        @apply
        min-h-screen
        mx-auto
        max-w-7xl 2xl:max-w-380
        space-y-12
        overflow-hidden
        py-8 pr-6 2xl:pr-10
    }

    .card{
        @apply
        bg-white
        w-fit border border-slate-200 
        rounded-xl shadow-md
    }

    .h1{
        @apply
        text-xl
        font-bold
        lg:text-[clamp(1rem,2vw,1.5rem)]
    }
}



